@font-face {
    font-family: 'MainFont';
    src: url("../fonts/pt-sans.ttf");
}

body {
    background: url("../img/fon.jpg");
}

html {
    background: url("../img/fon.jpg");
    font: 400 16px 'MainFont';
}

img {
    width: 100%;
}

input,
textarea {
    font-size: 13px;
    line-height: 20px;
    transition: all ease 0.3s;
}

input:focus,
textarea:focus {
    border: 1px solid #81afd5;
}
/*############################################################################*/
/*###########################start and main page##############################*/
/*############################################################################*/
/*############################################################################*/
/*######################footer and header and sidebar style###################*/
/*###############################footer-header################################*/
footer,
header {
    width: 100%;
    height: 49px;
    background: #333333;
    color: white;
    font-family: MainFont;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
}

a {
    color: #993399;
}

a:hover {
    text-decoration: none;
    color: #333333;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000000000;
}

header a {
    color: white;
}

header a:hover {
    color: white;
    text-decoration: none;
}

nav ul li a {
    color: #333333;
    width: 100%;
    height: 100%;
    display: block;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
}

.logo {
    padding-left: 41px;
    padding-top: 8px;
    height: 100%;
    width: 20%;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
}

.logo img {
    width: auto;
}

.control {
    width: 45.666%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 1%;
}

.main-item {
    display: block;
    float: left;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 49px;
}

.plus-photo {
    display: block;
    float: left;
    height: 100%;
    cursor: pointer;
    line-height: 49px;
    width: 50px;
    text-align: center;
    font-size: 12px;
}

.main-item:hover,
.plus-photo:hover {
    background: #222222;
}

.logining-item {
    display: block;
    cursor: pointer;
    text-align: right;
    padding-left: 10px;
    padding-right: 42px;
    transition: all 0.3s ease;
    font-size: 14px;
}

.logining-item-top {
    margin-top: 6px;
}

.logining-item:hover {
    color: #993399;
}

.active-like {
    color: #ff3300;
}

.active-favorite {
    color: #ffcc00;
}

.login-portret {
    width: 32px;
    height: 32px;
    background: white;
    float: left;
    position: absolute;
    top: 7px;
    z-index: 100000000000000000000000000000000000000000000000;
    right: 40px;
}

.item-about {
    height: 44px;
    line-height: 39px;
    display: block;
    float: left;
    cursor: pointer;
    height: 47px;
    line-height: 48px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease;
    color: #dbd3d3;
}

.item-about:hover {
    background: #222222;
}

.logining {
    position: relative;
    display: block;
    float: right;
    padding-right: 40px;
    width: 34.334%;
    box-sizing: border-box;
    height: 100%;
}

footer {
    position: absolute;
}

body {
    height: 100%;
}

html {
    min-height: 100%;
    height: auto;
    position: relative;
}

.about {
    width: 190px;
    margin: 0 auto;
}

.site-wrapper {
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 75px;
    padding-bottom: 60px;
}
