ul {
    width: 100%;
    margin-left: -38px;
}
.menu-item {
    text-decoration: none;
    list-style: none;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding-right: 10px;
    line-height: 29px;
    position: relative;
    height: auto;
}

.search-submit {
    height: 32px;
    width: 16%;
    border: 1px solid #cccccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    float: left;
    background: none;
    border-left: none;
    background: white;
    cursor: pointer;
    font-size: 13px;
}
.menu-item:hover >.ungle-item {
    color: white;
}
.menu-item:hover > .ungle-item:hover {
    color: white;
}
.menu-item:hover > .ungle-item::after {
    color: white;
}
.menu-item:hover > span {
    // color: white;
}
.ungle-item {
    float: right;
    font-size: 17px;
    font-weight: bold;
    line-height: 28px;
    position: absolute;
    right: 5px;
    z-index: 19;
}
.input-search {
    background: white;
    width: 81%;
    height: 32px;
    border: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    transition: all 0.3s ease;
    font-size: 13px;
}
.input-search:focus {
    border: 1px solid #81afd5;
}
.sidebar {
    width: 97%;
}
.conteiner {
    width: 20%;
    float: left;
    position: relative;
    padding-left: 35px;
    box-sizing: border-box;
    z-index: 10000000;
}
.main-wrapper {
    clear: both;
    margin-top: 50px;
}

/*#############################block news#####################################*/

.b-news {
    padding: 7px;
    background: white;
}
.news {
    border: 1px solid #cccccc;
    width: 93.4%;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.b-photo-news {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #9ecca4;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}
.news-title {
    border-bottom: 1px solid #cccccc;
    margin-top: 60px;
    padding-bottom: 5px;
    font-size: 15px;
    width: 94%;
    padding-left: 6px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 5px;
    display: block;
    color: #444;
}
.news-title:hover {
    background: #444;
    color: white;
    border-radius: 3px;
}
.b-text-news {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.b-title-news {
    color: #993399;
    cursor: pointer;
}
.b-descreption-news {
    font-size: 11px;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 13px;
}
.b-date-news {
    font-size: 11px;
}

/*###########################popup sort list##################################*/

.sort-list {
    display: none;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    position: fixed;
    z-index: 100000;
    border-radius: 5px;
    margin-left: 20%;
}
.sub-list-item {
    display: block;
    float: left;
    text-decoration: none;
    list-style-type: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 5px;
}
.sub-list-item:hover {
    background-color: rgba(125, 124, 124, 0.8);
}
ul.b-popup-item-list li {
    text-decoration: none;
    list-style: none;
}
.sort-list-item> i {
    text-decoration: none;
    list-style-type: none;
    display: block;
    float: left;
    opacity: 0;
    margin-left: 12px;
    margin-top: 9px;
    color: rgba(51, 51, 51, 0.8);
}
.sort-list-item:hover> i {
    text-decoration: none;
    list-style-type: none;
    display: block;
    opacity: 1;
    float: left;
    color: rgba(29, 181, 12, 0.3)
}
.b-popup-item-list {
    display: block;
    float: left;
    color: white;
    width: auto;
}
.close-popup-sort {
    display: block;
    float: right;
    cursor: pointer;
    color: white;
    padding-left: 14px;
    color: #afafaf;
    transition: all 03s ease;
}
.close-popup-sort:hover {
    color: white;
}
/*############################################################################*/
/*########################part site , in which photo##########################*/

/*#######################main page , where all photo##########################*/
.wrap-content {
    padding-left: 35px;
}
.item-gallery{
    padding: 5px;
}
.uk-panel-box {
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.content {
    width: 79%;
    padding-bottom: 40px;
    margin-bottom: 40px;
    float: right;
    position: relative;
    width: calc(79% - 35px);
    margin-right: 35px;
    box-sizing: border-box;
}
.content-your-photo {
    width:100%;
    margin-right: 0;
}
.b-next-page {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    background-color: #333333;
    opacity: .7;
    padding: 30px;
    cursor: pointer;
}
