.news-item {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
}
.wrap-news-item {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.item-news-title {
  color: #993399;
  display: block;
  margin-top: 10px;
  font-size: 17px;
}
.item-news-title-modal {
  font-size: 18px;
  margin: 10px 0;
  color: white;
  display: block;
}
.item-news-date {
  font-size: 14px;
}
.popup-text-news {
  font-size: 14px;
}
.modal-news {
  width: 50.4%;
  height: 80%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  z-index: 200000000;
  border-radius: 5px;
  display: none;
}
.scroll-place-modal-news {
  overflow-y: scroll;
  height: 80%;
  margin: 0 auto;
  margin-top: 20px;
  width: 92%;
  padding: 0 5%;
  box-sizing: border-box;

}
.date-and-all-news{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}
.date-and-all-news a {
  float: right;
  color: white;
  text-decoration: underline;
}
