/*##################################################################################*/
/*################################page whith slder##################################*/
/*##################################################################################*/

.uk-panel-box {
  padding: 7px;
}
.clear {
    clear: both;
    padding: 0px;
    margin: 0px;
    height: 0px;
}
/*####photo-slider####*/
.col-slider-comment{
  width:70%;
  height:auto;
  float: left;
}
.one-picture-place{
  height: auto;
  background: green;
  border-radius: 5px;
  border: 1px solid #cccccc;
  overflow: hidden;
  background: white;
  padding: 7px;
}
.b-photo-slider{
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.photo-item{
  background: #F4F4F4;
  height: 100%;
  width: auto;
  margin: 0px auto;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}
.img-slider {
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  height: auto;
}
.control-slide{
  height: auto;
  width: 100%;
  margin-top: -26%;
  position: absolute;
  font-size:32px;
  color: white;
  text-shadow: black 0px 0px 1px;
}
.btn-prew{
  height: 32px;
  cursor: pointer;
  float: left;
  margin-left: 20px;
  color: white;
}
.btn-next{
  height: 32px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  color: white;
}
.b-informstion{
  height: 27px;
  width: 100%;
  margin-top: 12px;
}
.b-pretens{
  float: left;
  display: block;
  width: 33.333%;
}
.num-page{
  float: left;
  display: block;
  width: 33.333%;
  text-align: center;
}
.status-photo{
  float: left;
  display: block;
  width: 33.333%;
  text-align: right;
}
.back-to-main,
.full-scrn,
.comment,
.liked,
.share,
.view,
.like{
  display:block;
  float: right;
}
.b-tooltip-visible{
  margin-right: 6px;
}
.b-tooltip-visible> .wrap-tooltip-gallery{
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
}
.tooltip-stat-gallery{
  display: block;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: absolute;
  padding: 3px;
  text-align: center;
  color: rgb(239, 240, 240);
  margin-top: -30px;
}
.b-tooltip-visible:hover> .wrap-tooltip-gallery {
  opacity: 1;
}
.large{
  width: 178px;
}
.big{
  width: 100px;
}
.ico-slider{
  height: 20px;
  width: 20px;
  cursor: pointer;
  border: none;
  background: none;
}
   /*###and comments###*/
.b-comments{}
.b-com-title{
  width: 100%;
  display: block;
  border-bottom: 1px solid #cccccc;
  margin-top: 29px;
  padding-bottom: 10px;
}
.b-all-comment{
  height: auto;
  width: 100%;
}
.b-comment{
  width: 89%;
  float: left;
  padding-left: 1%;
  margin-top: 7px;
  margin-bottom: 6px;
}
.input-comment{
  display: block;
  float: left;
  border: 1px solid #cccccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 95%;
  padding: 3px;
  box-sizing: border-box;
  background: white;
}
.b-add-comment{
  clear: both;
  height: 28px;
  margin-top: 20px;
}
.submit-comment{
  display: block;
  float: left;
  border: 1px solid #cccccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
  background: none;
  cursor: pointer;
  border-left: none;
  height: 28px;
  width: 5%;
  box-sizing: border-box;
}
.b-photo-comment{
  width: 10%;
  height: 100px;
  background: black;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}
.b-name-comment{
  cursor: pointer;
  color: rgb(122, 42, 117);
}
.b-text-comment{}
.b-date-comment{
  color: #b8b3b0;
}
  /*###description photo###*/
.col-descreption-photo{
  width: 30%;
  height:auto;
  float: left;
  padding-left: 42px;
}
.title-tag{
  width: 100%;
  display: block;
  border-bottom: 1px solid #cccccc;
}
.margin-title-tag {
  margin-top: 20px;
}
.pole-tag{}
.tag-item{
  display: block;
  float: left;
  width: auto;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.tag-item:hover{
  background: #444444;
  color:white;
}
  /*##view photo###*/
.view-photo-slide{
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}
.b-change-photo {
  width: 80%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
.slider-nav-prev,
.slider-nav-next {
  cursor: pointer;
  font-size: 48px;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
  color: white;
  top: 52px;
  position: absolute;
}
.slider-nav-next {
  right: 0;
  position: absolute;
}
