/*##################################################################################*/
/*################################page whith slder##################################*/
/*##################################################################################*/
#all-info-photo {
  display: none;
}
.uk-panel-box {
  padding: 7px;
  background: white;
}
.clear {
    clear: both;
    padding: 0px;
    margin: 0px;
    height: 0px;
}
/*####photo-slider####*/
.col-slider-comment{
  width:70%;
  height:auto;
  float: left;
}
.one-picture-place{
  height: auto;
  background: green;
  border-radius: 5px;
  border: 1px solid #cccccc;
  overflow: hidden;
  background: white;
  padding: 7px;
  position: relative;
}
.b-photo-slider{
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 94%;
}
.info-text-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 277px;
  height: 50px;
  bottom: 0;
  text-align: center;
  display: none;
}
.photo-item{
  background: #F4F4F4;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}
.item {
  height: 133px;
  text-align: center;
}
.item img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.img-slider {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.control-slide{
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size:32px;
  color: white;
  text-shadow: black 0px 0px 1px;
  z-index: 1000;
  height: 100%
}
.left-slide {
  left: -100%;
  transition: all 0.4s ease;
  opacity: 0;
  position: absolute;
}
.active-slide {
  transition: opacity 0.7s ease;
  z-index: 20;
  opacity: 1;
  position: relative;
}
.right-slide {
  right: -100%;
  transition: all 0.4s ease;
  opacity: 0;
  position: absolute;
}
.btn-prew{
  cursor: pointer;
  float: left;
  margin-left: 20px;
  color: white;
  height: 100%;
  position: relative;
  width: 50px;
}
.btn-next{
  cursor: pointer;
  float: right;
  margin-right: 20px;
  color: white;
  height: 100%;
  position: relative;
  width: 50px;
}
a.btn-next span,
a.btn-prew span {
  width: 1em;
  text-align: center;
  display: block;
  height: 50px;
  width: 50px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.wrap-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.b-informstion{
  height: 27px;
  width: 98%;
  margin-top: 12px;
  position: absolute;
  z-index: 10;
  opacity: 1;
  bottom: 3px;
  z-index: 100;
}
#like-whom-pole {
  width: 90px;
  display: block;
  text-align: left;
}
.mini-avatar{
  width:20px;
  height: 20px;
  margin: 2px;
  display: inline-block;
}
.mini-avatar img {
  width: 100%;
}
.b-pretens{
  float: left;
  display: block;
  width: 45%;
}
.num-page{
  float: left;
  display: block;
  width: 10%;
  text-align: center;
}
.status-photo{
  float: left;
  display: block;
  width: 45%;
  text-align: right;
}
.back-to-main,
.full-scrn,
.comment,
.liked,
.share,
.view,
.like{
  display:block;
  float: right;
}

.b-tooltip-visible{
  margin-right: 6px;
}
.b-tooltip-visible> .wrap-tooltip-gallery{
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
}
.tooltip-stat-gallery{
  display: block;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: absolute;
  padding: 3px;
  text-align: center;
  color: rgb(239, 240, 240);
  margin-top: -30px;
}
.b-tooltip-visible:hover> .wrap-tooltip-gallery {
  opacity: 1;
}
.large{
  width: 178px;
}
.big{
  width: 100px;
}
.ico-slider{
  height: 20px;
  width: 20px;
  cursor: pointer;
  border: none;
  background: none;
}
.b-pretense {
  color: #993399;
  border: 1px solid #cccccc;
  padding: 0 5px;
  margin: 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
}
.pretense-tool {
  float: left;
}
.author-portret {
  float: left;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 3px;
}
.author-name {
  float: left;
  margin-left: 6px;
  line-height: 28px;
  height: 20px;
}
   /*###and comments###*/
.b-comments{}
.b-com-title{
  width: 100%;
  display: block;
  border-bottom: 1px solid #cccccc;
  margin-top: 29px;
  padding-bottom: 10px;
}
.b-all-comment{
  height: auto;
  width: 100%;
}
.b-comment-wrap{
  width: 100%;
  position: relative;
  float: left;
  padding-left: 1%;
  margin-top: 7px;
  margin-bottom: 6px;
}
.b-comment {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}
.remove-comment {
  position: absolute;
  top: 5px;
  right: 10px;
  color: gray;
  cursor: pointer;
}
.remove-comment:hover {
  color: black;
}
.input-comment{
  display: block;
  float: left;
  border: 1px solid #cccccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 95%;
  padding: 3px;
  box-sizing: border-box;
  background: white;
}
.b-add-comment{
  clear: both;
  height: 28px;
  margin-top: 20px;
}
.submit-comment{
  display: block;
  float: left;
  border: 1px solid #cccccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
  background: none;
  cursor: pointer;
  border-left: none;
  height: 28px;
  width: 5%;
  box-sizing: border-box;
}
.b-photo-comment{
  width: 10%;
  height: 100px;
  background: black;
  float: left;
  border-radius: 5px;
  cursor: pointer;
}
.b-name-comment{
  cursor: pointer;
  color: rgb(122, 42, 117);
}
.b-text-comment{}
.b-date-comment{
  color: #b8b3b0;
}
  /*###description photo###*/
.col-descreption-photo{
  width: 30%;
  height:auto;
  float: left;
  padding-left: 42px;
}
.title-tag{
  width: 100%;
  display: block;
  border-bottom: 1px solid #cccccc;
}
.margin-title-tag {
  margin-top: 20px;
}
.pole-tag{}
.tag-item{
  display: block;
  float: left;
  width: auto;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.tag-item:hover{
  background: #444444;
  color:white;
}
  /*##view photo###*/
.view-photo-slide{
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}
.b-change-photo {
  width: 80%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
